@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
/*- default setting */

* {
    padding : 0;
    margin : 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Jua', serif;
}

a, a:link, a:visited, a:active {color : black;}

html, body, #container {
    width : 100%;
    height : 100%;
}
/* default setting */




/*- topNavbar */

#topNavbar {
    z-index: 3;
    position : fixed;
    top : 0;
    left : 0;
    width : 100%;
    height : 80px;
    border-bottom: 3px solid rgb(235,235,235);
    display : grid;
    grid-template-rows: 80px;
    transition : 0.2s;
    background-color: white;
}

#logo {
    grid-area: logo;
    width : 130px;
    height : 80px;
}

#myInfo {
    width : 90px;
    height : 60px;
    grid-area: myInfo;
    border : 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 0 15px 0 15px;
    box-sizing: border-box;
    border-radius: 50px;
    display: flex;
    align-self: center;
    justify-self: center;
    transition : 0.2s;
}

#topInputDiv {
    grid-area : input;
    display: flex;
    justify-content: center;
    align-items: center;
}

#topInputDiv input {
    width : 80%;
    height : 40px;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 0 20px 0 20px;
}

#topInputDiv input:focus {
    border-color: black;
}

#myInfo img {
    width : 20px;
    height  :20px;
    padding : 0 10px 0 10px;
    transition : 0.2s;
}

#topNavbar__one {
    width : 100%;
    height : 100%;
    display: grid;
    grid-template-areas: 
            ".    logo   input   input   myInfo   .";
    grid-template-columns: repeat(6,1fr);
    position  :relative;
}

#myInfo:hover {
    border : 1px solid skyblue;
}

/* topNavbar */



/*- topNavbar2  */

.top {
    top : 80px;
    left : 0;
    box-sizing: border-box;
    width : 100%;
    height : 100px;
}

.bottom {
    bottom : 0;
    left : 0;
    box-sizing: border-box;
    width : 100%;
    height : 100px;
}

#topNavbar2 {
    z-index: 3;
    position : fixed;
    display: grid;
    grid-template-areas :
    ".    item   item   item   item   .";
    grid-template-columns: repeat(6,1fr);
    transition: 0.2s;
    background-color: white;
    border-top: 1px solid rgb(235,235,235);
}

#bottomNavbar {
    display: none;
}

#itemContainer {
    width : 100%;
    height : 100%;
    display : flex;
    grid-area: item;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#itemContainer a {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#topNavbar2 img, #bottomNavbar img {
    width : 30;
    height : 30px;
    margin-bottom: 5px;
}

/* topNavbar2  */

/*- switch */
#switch {
    position : fixed;
    top : 70%;
    left : 45%;
    width : 100px;
    height : 50px;
    background-color: #eeeeee;
    border-radius: 50px;

    cursor : move;
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

#switch:hover {
    background-color: rgb(0,123,255);
    color : white;
}

/* switch */

/*- map */

#map {
    position : fixed;
    top : -100%;
    left : 0;

    width : 100%;
    height : 100%;

    z-index: 1;
}

.mapPopup {
    z-index: 2;
}

/* map */

/*- content */
#content {
    position : absolute;
    top : 0;
    left : 0;

    /* padding-top: 180px; */
    /* 기존에는 180이었지만 너무 붙어있어서 늘림 */
    padding : 190px 100px 0 150px;

    box-sizing: border-box;

    width : 100%;
    height : 100%; 
    z-index: 2;
    background-color: white;

    display : grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, auto));
    gap : 10px;
}

.content__item {
    max-width: 300px;
    max-height: 350px; 
    display: grid;
    border-radius: 15px;
    /* justify-items: center; */
}

.content__item img{
    width: 90%;
    height : 90%;
    border-radius: 20px;
}

.content__item__img {
    display: grid;
    align-items: center;
}

.content__item__info h3 {    
    overflow:hidden; 
    text-overflow:ellipsis; 
    white-space:nowrap;
}


/* content */

/*- 반응형 */
@media (max-width : 800px) {

    #logo {
        padding-left: 20px;
    }
    #topNavbar{
        position : fixed;
        top : 0;
        left : 0;
        width : 100%;
        height : 80px;
        border-bottom: 1px solid rgb(235,235,235);
        display : grid;
        grid-template-rows: 80px;
    }


    #topNavbar__one {
        width : 100%;
        height : 100%;
        display: grid;
        grid-template-areas: 
                "logo   input   input   myInfo";
        grid-template-columns: repeat(4,1fr);
        position  :relative;
    }

    #myInfo {
        width : 80%;
        height : 60px;
        grid-area: myInfo;
        border : 1px solid #eeeeee;
        display: flex;
        justify-content: center;
        align-items: center;
        padding : 0 15px 0 15px;
        box-sizing: border-box;
        border-radius: 50px;
        display: flex;
        align-self: center;
        justify-self: center;
    }

    #myInfo img {
        width : 30px;
        height  :30px;
        padding : 0 10px 0 10px;
    }    

    #topNavbar2{
        position : fixed;
        display: grid;
        grid-template-areas :
        "item    item   item   item   item   item";
        grid-template-columns: repeat(6,1fr);
        transition: 0.2s;
        border-top: 1px solid #eeeeee;
    }


    #content {
        position : absolute;
        top : 0;
        left : 0;
    
        /* padding-top: 180px; */
        /* 기존에는 180이었지만 너무 붙어있어서 늘림 */
        padding : 100px 0 0 0;
    
        box-sizing: border-box;
    
        width : 100%;
        height : 100%; 
        z-index: 2;
        background-color: white;
    
        display : grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(300px, auto));
        gap : 10px;

}
}
/* 반응형 */