@import url('http://fonts.cdnfonts.com/css/qillsey-einstein');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    margin : 0;
    padding : 0;
    text-decoration: none;
    list-style: none;
    font-family: serif;
}
html, body {
    width : 100%;
    height : 100%;
}

body {
    background-image:url("../img2/login_back.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#login {
    width : 500px;
    min-width: 500px;
    background-color: #eeeeee;
    height :  600px;
    padding : 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    transition : 0.2s
    opacity:0.8;
}

#login form {
    width : 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 5px;
}

#login_photo {
    width : 350px;
    height : 250px;
    margin-bottom: 40px;
}


#logo {
    color : navy;
    font-size: 130px;
    font-family: 'Qillsey Einstein', sans-serif !important;
    padding-left: 20px; 
}

.input {
    width : 70%;
}

#login_button {
    margin : 0 0 10px 0;
}

@media (max-width : 800px) {
    body {
        background-image: none;
    }
    #login {
        width : 100%;
        height : 100%;
        margin : 0;
        transition: 0.2s;

    }
}