@import url('http://fonts.cdnfonts.com/css/qillsey-einstein');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

@font-face {
    font-family: 'Busan';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/govs/busan/Busan/Busan.woff2') format('woff2'),
    url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/govs/busan/Busan/Busan.woff') format('woff');
}

@font-face {
    font-family: 'Frankfurter';
    src: url('../fonts/Frankfurter.woff') format('woff');
}

* {
    margin : 0;
    padding : 0;
    text-decoration: none;
    list-style: none;
    
    
}
html, body {
    width : 100%;
    height : 100%;
}




body {
    background-image:url("../img2/login_back.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#login {
    width : 450px;
    min-width: 500px;
    background-color: #eeeeee;
    height :  640px;
    padding : 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    transition : 0.2s;
    opacity:0.8;
}

#login form {
    width : 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 5px;
}

#login_photo {
    width : 180px;
    margin-top:20px;
    height : 180px;
    
}


#logo {
    color :black;
    font-size: 50px;
    font-family: 'Busan', sans-serif;
    padding-left: 0px; 
    
}

#gome{
	font-family: 'Frankfurter';
	font-size : 21px;
	color:#f7bb25;
	margin-bottom: 30px;
}

.input {
    width : 70%;
}

#login_button {
    margin : 0 0 10px 0;
}

@media (max-width : 800px) {
    body {
        background-image: none;
    }
    #login {
        width : 100%;
        height : 100%;
        margin : 0;
        transition: 0.2s;

    }
}